[submodule "manxia-extensions-source"]
	path = manxia-extensions-source
	url = https://github.com/DaLongZhuaZi/manxia-extensions-source.git
[submodule "cloudflare/manxia-worker"]
	path = cloudflare/manxia-worker
	url = https://github.com/DaLongZhuaZi/manxia-cloudflare-worker.git
[submodule "manxia-legado-sources"]
	path = manxia-legado-sources
	url = https://github.com/DaLongZhuaZi/manxia-legado-sources.git
[submodule "manxia-legado-runtime"]
	path = manxia-legado-runtime
	url = https://github.com/DaLongZhuaZi/manxia-legado-runtime.git
